version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"

  vu-backend:
    image: vu-test-backend
    container_name: vu-backend
    env_file:
      - .env
    depends_on:
      - qdrant
    ports:
      - "3000:3000"
